html {
    margin: 0;
  }
  
  span {
    display: block;
  }
  .canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
  }

  .button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
  }
  
  #color-D6EFD8{
    background: #D6EFD8;
  }
  #color-1A5319{
    background: #1A5319;
  }
  #color-80AF81{
    background: #80AF81;
  }
  #color-508D4E{
    background: #508D4E;
  }
  #color-DBAFA0{
    background: #DBAFA0;
  }
  #color-BB8493{
    background: #BB8493;
  }
  #color-704264{
    background: #704264;
  }
  #color-49243E{
    background: #49243E;
  }
  #color-4AE3B5{
    background: #4AE3B5;
  }
  #color-EEEEEE{
    background: #EEEEEE;
  }
  #color-2A5D67{
    background: #2A5D67;
  }
  #color-171332{
    background: #171332;
  }
  #color-FCDEC0{
    background: #FCDEC0;
  }
  #color-E5B299{
    background: #E5B299;
  }
  #color-B4846C{
    background: #B4846C;
  }
  #color-7D5A50{
    background: #7D5A50;
  }
  